<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Welcome to Accounting Admin</h1>
            <p>This application for accounting purchases.</p>
        </div>
        <div class="container">
            <h3>What do you want to do?</h3>
            <ul>
                <li><a th:href="@{/user}">View Users</a></li>
                <li><a th:href="@{/purchase}">View Purchases</a></li>
            </ul>
        </div>
    </div>

</body>
</html>