<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
  <title>Home</title>
</head>
<body>

<div layout:fragment="content">
  <div class="container main-content">
    <div class="row">
      <div class="col-7">
        <h3>Purchase</h3>
      </div>
    </div>
      <form method="post" action="#" th:action="'/purchase'">
        <div class="form-row">
          <div class="col">
            <input th:id="name" th:name="name" list="purchaseNames" type="text" class="form-control" placeholder="Purchase Name" />
            <datalist id="purchaseNames">
              <option th:each="row : ${purchaseNames}" th:data-value="${row.id}" th:text="${row.name}"></option>
            </datalist>
          </div>
          <div class="col">
            <input th:id="quantity" th:name="quantity" type="text" class="form-control" placeholder="Quantity" />
          </div>
          <div class="col">
            <input th:id="price" th:name="price" type="text" class="form-control" placeholder="Price" />
          </div>
          <div class="col">
            <!--<select th:field="*{id}">-->
            <select class="form-control" th:name="purchaseCategoryId" >
              <option value="">Category</option>
              <option th:each="category : ${purchaseCategories}"
                      th:value="${category.id}"
                      th:utext="${category.name}"/>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    <br>
    <table id="table" class="table table-striped table-sm">
      <thead>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
      </thead>
      <tbody>
      <tr th:each="purchase : ${purchases}">
        <th scope="row"><a th:href="@{'/purchase/' + ${purchase.id}}" th:text="${purchase.id}"></a></th>
        <td th:text="${purchase.purchase.name}"></td>
        <td th:text="${purchase.quantity}"></td>
        <td th:text="${purchase.price}"></td>
        <td th:text="${purchase.purchaseCategory.name}"></td>
        <td th:text="${purchase.date}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>